.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.App-container {
  width: 50%;
  text-align: center;
}

.main-title {
  font-size: 40px;
}

.length-control {
  display: inline-block;
  font-size: 30px;
  margin: 25px;
}

.time-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timer-red{
  color: red;
}

.timer-wrapper{
  border: 7px solid #13353a;
  border-radius: 50px;
  padding: 20px 30px;
}
#timer-label {
  font-size: 25px;
}
#time-left {
  font-size:70px;
}

.timer-control {
  margin: 10px;
}

.author{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}