body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e555c;
  color: white;
  box-sizing: border-box;
}

button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

a{
  text-decoration: none;
  color: rgb(7, 13, 61);
}